services:
  iyconsoftnotifications:
    build:
      context: .
      target: dev
      dockerfile: Dockerfile
    container_name: iyconsoftnotifications
    restart: unless-stopped
    expose:
      - 8000
    command: [
      "uvicorn", 
      "src.main:app", 
      "--host", "0.0.0.0", 
      "--port", "8000", 
      "--reload"
    ]
    volumes:
      - ./:/usr/src/iyconsoftNotifications
    # ports:
    #   - 8001:8001
    networks:
      - container-network
    mem_limit: 512m
    cpus: 0.5

networks:
  container-network:
    external: true
    # driver: bridge

    # ipam:
    #   config:
    #     - subnet: 172.20.0.0/16



    

